<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
    
  </entityFramework>
  
  <system.data>
    <DbProviderFactories>
            <add name="Npgsql Data Provider"
                  invariant="Npgsql"
                  description="Data Provider for PostgreSQL"
                  type="Npgsql.NpgsqlFactory, Npgsql"
                  support="FF" />
        </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="PostgresDotNet" connectionString="PORT=5432; HOST=127.0.0.1; TIMEOUT=15; POOLING=True; MINPOOLSIZE=1; MAXPOOLSIZE=20; COMMANDTIMEOUT=20; DATABASE=postgres; PASSWORD=postgres; USER ID=postgres; Integrated Security = true" providerName="Npgsql" />
  </connectionStrings>

</configuration>