<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="UpdBatPath" value="UPDATE.bat"/>
      <add key="AppPath" value="App3.exe"/>
      <add key="DefaultWait" value="60000"/>

      <add key="LogFile" value="launcher.log" />
      <add key="MaxLogAge" value="180" />
      <add key="MaxLogQueue" value="1000" />
      <add key="AskForRun" value="1" />
      <add key="EnableUpdate" value="0"/>
      
      <add key="RunOption" value="run"/>
    </appSettings>
</configuration>
