<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="App3.Properties.Settings.ConnectionString" connectionString="Dsn=PostgreSQL35U" providerName="System.Data.Odbc" />
    <add name="App3.Properties.Settings.ConnectionString1" connectionString="Dsn=PostgreSQL35U" providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ModuleRemotePort" value="30003" />
    <add key="ModuleLocalServerIP" value="127.0.0.1" />
    <add key="ModuleLocalServerPort" value="30002" />
    <add key="ModuleLocalGUID" value="54665703-E19F-424C-B4CF-F7A81EFB0E13" />
    <add key="ModuleModuleId" value="15" />
    <add key="DBServerHost" value="127.0.0.1" />
    <add key="DBServerPort" value="5432" />
    <add key="DBUser" value="postgres" />
    <add key="DBPassword" value="postgres" />
    <add key="DBName" value="gis" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="StartWeb" value="1" />
    <add key="WebPort" value="6081" />
    <add key="UrlUpdate" value="" />
    <add key="CacheUpdateOnStart" value="1" />
    
    <add key="LogFile" value="spolox.log" />
    <add key="MaxLogAge" value="180" />
    <add key="MaxLogQueue" value="1000" />
    <add key="Entropy" value="" />
    <add key="XMLGuard" value="0" />
    <add key="COMConn" value="0" />
    <add key="CurrenRegion" value="-1" />

    <add key="COMBaudrate" value="19200" />
    <add key="COMPortName" value="COM3" />
    <add key="COMRetrType" value="0" />
    <add key="COMRetrAddr" value="32" />
    <add key="COMChannelsMask" value="255" />
    <add key="RemoteAddress" value="6910" />

    <add key="EnableSync" value="0" />

    <add key="SocketServerIP" value="127.0.0.1" />
    <add key="SocketEnableSync" value="0" />
    <add key="SocketPackageSize" value="1024" />
    <add key="SynchPort" value="9090" />
    <add key="SynchPortEnd" value="9090" />
    <add key="SynchSleepMinutes" value="30" />

    <!--add key="RedirectAllIncommingServer" value="87.117.3.187" />
    <add key="RedirectAllIncommingPort" value="9090" /-->

    <add key="StartupMinimized" value="0" />
    <add key="AutoLogin" value="123" />
    <add key="MonitorNumber" value="1" />

    <add key="MaxPoolSize" value="10" />
    <add key="LogLevel" value="6" />
    <!--
    LogLevel
            DEBUG = 1,
            ERROR = 2,
            EVENTS = 4,
            ALL = 7
    -->
    <add key="MapProvider" value="GoogleMap" />
    <!--
      GoogleMap
      OpenStreetMap
      BingMap
      YandexMap
      None
    -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.86.0" newVersion="1.0.86.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>