<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DBServerHost" value="127.0.0.1" />
    <add key="DBServerPort" value="5432" />
    <add key="DBUser" value="postgres" />
    <add key="DBPassword" value="postgres" />
    <add key="DBName" value="gis" />
    <add key="WebPort" value="6080" />
    <add key="LogFile" value="monitor.log" />
    <add key="MaxLogAge" value="180" />
    <add key="MaxLogQueue" value="1000" />
    <add key="Entropy" value="ae6e78bffb95218856987366e1e22737" />
    <add key="OptionJoin" value="inner" />
    <add key="SleepPause" value="300000" />
  </appSettings>
</configuration>