<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="IntervalSec" value="10"/>
      <!-- не менять -->
      <add key="MutexName" value="Spolox Launcher Application"/>
      <!-- путь к приложению -->
      <add key="LauncherPath" value="C:\Users\Alexandr\Source\Repos\app4\launcher\bin\Release\launcher.exe"/>

      <!-- путь к журналу -->
      <add key="LogFile" value="C:\Users\Alexandr\Source\Repos\app4\LaunchService\bin\Release\service" />
      <add key="MaxLogAge" value="10" />
      <add key="MaxLogQueue" value="1000" />
    </appSettings>
</configuration>
