<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="DBServerHost" value="127.0.0.1"/>
      <add key="DBServerPort" value="5432"/>
      <add key="DBUser" value="postgres"/>
      <add key="DBPassword" value="postgres"/>
      <add key="DBName" value="gis"/>
    </appSettings>
</configuration>
